<section class="bar background-image-fixed-2 no-mb color-white text-center">
  <div class="row auto-hide">
    <div class="home-hero col-md-8">
      <img src="img/logo-small.webp" class="azodn-hero-logo" />

      <ul class="dynamic-txt">
        <p style="text-shadow: 2px 2px black">
          ARIZONA ORGANIZATION DEVELOPMENT NETWORK
        </p>
      </ul>
    </div>
    <div class="call-to-action col-md-4">
      <h2 style="text-align: center; display: flex; text-shadow: 2px 2px black">
        We are a dedicated group of organization development professionals
        creating opportunities to learn, grow and share in the Phoenix area.
      </h2>
      <br />
      <h3 style="text-shadow: 2px 2px black">Become part of the network</h3>
      <a role="button" class="btn-md join-button" href="/join-us">Join here</a>
    </div>
  </div>
  <!-- only shows on small screen -->
  <div class="join-sm">
    <h3 style="text-shadow: 2px 2px black">Become part of the network</h3>
    <a role="button" class="btn-md join-button" href="/join-us">Join here</a>
  </div>
</section>
