<style>
  body {
    font-family: "Open Sans", sans-serif;
  }
  h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
  }
  h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #8fbc54;
    left: 0;
    right: 0;
    bottom: -10px;
  }
  .col-center {
    margin: 0 auto;
    float: none !important;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 70px;
  }
  .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
  }
  .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .carousel .testimonial {
    padding: 30px 30px 10px;
  }
  .carousel .overview {
    font-style: italic;
  }
  .carousel .overview b {
    text-transform: uppercase;
    color: var(--azodn-primary-color);
  }
  .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: 12px;
    top: 50%;
    background: none;
  }
  .carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
  }
 
 
</style>
{{ if isset .Site.Params "board" }} {{ if .Site.Params.board.enable }} {{ if
isset .Site.Data "board" }} {{ if gt (len .Site.Data.board) 0 }}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-center">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
         
        
          <!-- -->
          {{ range .Site.Data.board}}
          <div class="item{{ if eq .title "Chair" }} active{{ end }}">
            <div class="img-box">
              <img src="/{{ .photo }}" alt="{{ .name }}" />
            </div>
            <p class="testimonial">{{ .bio }}</p>
            <p class="overview"><b>{{ .name }}</b>, {{ .title }}</p>
          </div>
          {{ end }}
          <!-- -->

          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a
            class="carousel-control right"
            href="#myCarousel"
            data-slide="next"
          >
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }} {{ end }} {{ end }} {{ end }}
