<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Ensures optimal rendering on mobile devices. -->
  </head>

  <body>
    <script
      src="https://www.paypal.com/sdk/js?client-id=AUDzYEbKxboVAZA_fs7r-JZt46msk7RHJlYLalktPQCzb10XFg4pOiwoYROQ-MB804_ZTTzf-EHy3gmM&currency=USD&intent=order&vault=true"
    >
      // Replace YOUR_CLIENT_ID with your sandbox client ID
    </script>
    <script src="/js/script.js"></script>

    <div id="paypal"></div>
  </body>
</html>
