<section>
  <!-- start of why area -->
  <div><h3>BECOME A MEMBER</h3></div>

  <div>
    Our members are a diverse group of professionals who value meaningful
    connections, sharing powerful ideas and continued professional development.
    <p></p>
    <blockquote>
      <ul>
        <li>Internal OD Practitioners</li>
        <li>Seasoned OD Professionals</li>
        <li>
          Business professionals who shape and form organizations and culture
        </li>
        <li>Professionals new to OD</li>
        <li>Students</li>
        <li>Academics</li>
        <li>
          Practitioners in adjacent spaces (L&amp;D, Project Management,
          Coaching, HR, etc.)
        </li>
        <li>OD Curious</li>
        <li>Consultants</li>
      </ul>
    </blockquote>
  </div>
  <!-- end of why area -->

  <div class="row">
    <h3>ANNUAL MEMBERSHIP PRICES</h3>
  </div>
  <div class="container">
    <div class="row">
      <!-- start of individuals -->
      <div class="col-md-4">
        <h2>Individuals</h2>
        <h4><span>$90/year</span></h4>
        <ul>
          <li>
            <span>
              Advance notice of upcoming programs and networking opportunities
            </span>
          </li>
          <li>
            <span>
              Access to nationally recognized and award-winning presenters
            </span>
          </li>
          <li><span>Bi-weekly newsletter</span></li>
          <li><span>Discounted rates on some events</span></li>
          <li><span>Members only directory access</span></li>
          <li>
            <span>
              Partnership with the National OD Network, including access to
              resource toolkit, newsletters, member rates for events &amp; more
            </span>
          </li>
        </ul>

        <div>
          <a href="#"> JOIN NOW </a>
        </div>
      </div>
      <!-- end of individuals -->
      <!-- start of student -->
      <div class="col-md-4">
        <h2>Students</h2>
        <h4><span>$50/year</span></h4>

        <ul>
          <li>
            <span>
              Advance notice of upcoming programs and networking opportunities
            </span>
          </li>
          <li>
            <span
              >Access to nationally recognized and award-winning
              presenters</span
            >
          </li>
          <li><span>Bi-weekly newsletter</span></li>
          <li><span>Discounted rates on some events</span></li>
          <li><span>Members only directory access</span></li>
          <li>
            <span
              >Partnership with the National OD Network, including access to
              resource toolkit, newsletters, member rates for events &amp;
              more</span
            >
          </li>
        </ul>

        <div>
          <a href="#">JOIN NOW</a>
        </div>
      </div>
      <!-- end of student -->
      <!-- start of corp -->
      <div class="col-md-4">
        <h2>Corporations</h2>
        <h4><span>$250/year</span></h4>

        <ul>
          <li><span>Up to three (3) memberships</span></li>
          <li>
            <span
              >Advance notice of upcoming programs and networking
              opportunities</span
            >
          </li>
          <li>
            <span>
              Access to nationally recognized and award-winning presenters
            </span>
          </li>
          <li><span>Bi-weekly newsletter</span></li>
          <li><span>Discounted rates on some events</span></li>
          <li><span>Members only directory access</span></li>
          <li>
            <span>
              Partnership with the National OD Network, including access to
              resource toolkit, newsletters, member rates for events &amp; more
            </span>
          </li>
        </ul>

        <div>
          <a href="#">JOIN NOW</a>
        </div>
        <!-- end of corp -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
</section>
