<section>
  <!-- start of why area -->
  <div><h3>BECOME A MEMBER</h3></div>

  <div>
    Our members are a diverse group of professionals who value meaningful
    connections, sharing powerful ideas and continued professional development.
    <p></p>
    <blockquote>
      <ul>
        <li>Internal OD Practitioners</li>
        <li>Seasoned OD Professionals</li>
        <li>
          Business professionals who shape and form organizations and culture
        </li>
        <li>Professionals new to OD</li>
        <li>Students</li>
        <li>Academics</li>
        <li>
          Practitioners in adjacent spaces (L&amp;D, Project Management,
          Coaching, HR, etc.)
        </li>
        <li>OD Curious</li>
        <li>Consultants</li>
      </ul>
    </blockquote>
  </div>
  <!-- end of why area -->

  <div class="row">
    <h3>ANNUAL MEMBERSHIP PRICES</h3>
  </div>
  <div class="container">
    <div class="row">
      <!-- start of individuals -->
      <div class="col-md-3">
        <table style="margin-bottom: 2rem">
          <tr>
            <td
              style="
                text-align: center;
                background-color: var(--azodn-secondary-color);
              "
              class="member-title"
            >
              Individuals
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <span>
                <span class="member-dollar-sign">$</span>
                <span
                  class="member-price"
                  style="color: var(--azodn-primary-color)"
                  >140</span
                >
                <span class="frequency">/year</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <span>
                    Advance notice of upcoming programs and networking
                    opportunities
                  </span>
                </li>
                <li>
                  <span>
                    Access to nationally recognized and award-winning presenters
                  </span>
                </li>
                <li><span>Bi-weekly newsletter</span></li>
                <li><span>No charge for events</span></li>
                <li><span>Members only directory access</span></li>
                <li>
                  <span>
                    Partnership with the National OD Network, including access
                    to resource toolkit, newsletters, member rates for events
                    &amp; more
                  </span>
                </li>
              </ul>
              <div style="text-align: center">
                <button style="text-align: center; margin-bottom: 1rem">
                  <a href="https://mp.gg/hnrb1" target="_blank"> JOIN NOW </a>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- end of individuals -->
      <!-- start of student -->
      <div class="col-md-3">
        <table style="margin-bottom: 2rem">
          <tr>
            <td
              style="
                text-align: center;
                background-color: var(--azodn-primary-color);
              "
              class="member-title"
            >
              Students
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <span>
                <span class="member-dollar-sign">$</span>
                <span
                  class="member-price"
                  style="color: var(--azodn-primary-color)"
                  >50</span
                >
                <span class="frequency">/year</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <span>
                    Advance notice of upcoming programs and networking
                    opportunities
                  </span>
                </li>
                <li>
                  <span>
                    Access to nationally recognized and award-winning presenters
                  </span>
                </li>
                <li><span>Bi-weekly newsletter</span></li>
                <li><span>No charge for events</span></li>
                <li><span>Members only directory access</span></li>
                <li>
                  <span>
                    Partnership with the National OD Network, including access
                    to resource toolkit, newsletters, member rates for events
                    &amp; more
                  </span>
                </li>
              </ul>
              <div style="text-align: center">
                <button style="text-align: center; margin-bottom: 1rem">
                  <a href="https://mp.gg/hnrb1" target="_blank"> JOIN NOW </a>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- end of student -->
      <!-- start of corp -->
      <div class="col-md-3">
        <table style="margin-bottom: 2rem">
          <tr>
            <td
              style="
                text-align: center;
                background-color: var(--azodn-tertiary-color);
              "
              class="member-title"
            >
              Corporations
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <span>
                <span class="member-dollar-sign">$</span>
                <span
                  class="member-price"
                  style="color: var(--azodn-primary-color)"
                  >350</span
                >
                <span class="frequency">/year</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li><span>Up to three (3) memberships</span></li>
                <li>
                  <span>
                    Advance notice of upcoming programs and networking
                    opportunities
                  </span>
                </li>
                <li>
                  <span>
                    Access to nationally recognized and award-winning presenters
                  </span>
                </li>
                <li><span>Bi-weekly newsletter</span></li>
                <li><span>No charge for events</span></li>
                <li><span>Members only directory access</span></li>
                <li>
                  <span>
                    Partnership with the National OD Network, including access
                    to resource toolkit, newsletters, member rates for events
                    &amp; more
                  </span>
                </li>
              </ul>
              <div style="text-align: center">
                <button style="text-align: center; margin-bottom: 1rem">
                  <a href="https://mp.gg/hnrb1" target="_blank"> JOIN NOW </a>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- end of corp -->
      <!-- start of flex -->
      <div class="col-md-3">
        <table style="margin-bottom: 2rem">
          <tr>
            <td
              style="
                text-align: center;
                background-color: var(--azodn-secondary-color);
              "
              class="member-title"
            >
              Flex
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <span>
                <span class="member-dollar-sign">$</span>
                <span
                  class="member-price"
                  style="color: var(--azodn-primary-color)"
                  >90</span
                >
                <span class="frequency">/year</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>
                  <span>
                    Advance notice of upcoming programs and networking
                    opportunities
                  </span>
                </li>
                <li>
                  <span>
                    Access to nationally recognized and award-winning presenters
                  </span>
                </li>
                <li><span>Bi-weekly newsletter</span></li>
                <li>
                  <span><b>Discounted rates on some events</b></span>
                </li>
                <li><span>Members only directory access</span></li>
                <li>
                  <span>
                    Partnership with the National OD Network, including access
                    to resource toolkit, newsletters, member rates for events
                    &amp; more
                  </span>
                </li>
              </ul>
              <div style="text-align: center">
                <button style="text-align: center; margin-bottom: 1rem">
                  <a href="https://mp.gg/hnrb1" target="_blank"> JOIN NOW </a>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- end of flex -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</section>
